<html>
<body style="background: #f2f2f2;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">

<div style="max-width: 560px;padding: 20px;background: #ffffff;border-radius: 5px;margin:40px auto;font-family: Open Sans,Helvetica,Arial;font-size: 15px;color: #666;">

	<div style="color: #444444;font-weight: normal;">
		<div style="text-align: center;font-weight:600;font-size:26px;padding: 10px 0;border-bottom: solid 3px #eeeeee;">{site_name}</div>
		
		<div style="clear:both"></div>
	</div>
	
	<div style="padding: 0 30px 30px 30px;border-bottom: 3px solid #eeeeee;">

		<div style="padding: 30px 0;font-size: 24px;text-align: center;line-height: 40px;">Nous avons reçu une demande de changement de mot de passe. 
			Si vous êtes à l'origine de cette demande, cliquez sur le lien ci-dessous : </div>

		<div style="padding: 10px 0 50px 0;text-align: center;"><a href="{password_reset_link}" style="background: #555555;color: #fff;padding: 12px 30px;text-decoration: none;border-radius: 3px;letter-spacing: 0.3px;">Changer de mot de passe</a></div>
		
		<div style="padding: 15px;background: #eee;border-radius: 3px;text-align: center;">Si vous n'avez pas fait de demande de changement de mot de passe, merci de <a href="mailto:{admin_email}" style="color: #3ba1da;text-decoration: none;">nous le signaler</a>.</div>
		
	</div>
	
	<div style="color: #999;padding: 20px 30px">
		
		<div style="">Merci!</div>
		<div style="">L'équipe de <a href="{site_url}" style="color: #3ba1da;text-decoration: none;">{site_name}</a></div>
		
	</div>

</div>

</body>
</html>